<div class="container-top" style="padding-top: 150px;">

  <app-post (postSubmitted)="refreshPosts()"></app-post>
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="post" *ngFor="let post of posts">
        <div class="post-header">
          <div class="user-info" style="display: flex; align-items: start;">
            <img [src]="post.profilePicture || 'assets/images/profilepic.png'" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">            <div class="user-details">
              <h2 class="username">{{ post.username }}</h2>              
              <p class="post-date">Posted on: {{ post.Post_Date }}</p>
            </div>
          </div>
          <h2 class="post-title">{{ post.Caption }}</h2>
          <div class="menu"*ngIf="post.UserID == useridd" >
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <i class="fas fa-trash trash-icon" (click)="deletePost(post.PostID);"></i>            </div>
        </div>
        <div class="post-content">
          <img *ngIf="post.Image_URL" [src]="post.Image_URL" alt="Post image" class="post-image img-fluid">
        </div>
        <div class="post-actions">
          <div class="reactions">
            <button class="reaction-btn like-btn">
              <i class="fas fa-thumbs-up"></i> Like
            </button>
            <button class="reaction-btn love-btn">
              <i class="fas fa-heart"></i> Love
            </button>
            <button class="reaction-btn">
              <i class="fas fa-laugh"></i> Haha
            </button>
            <button class="reaction-btn">
              <i class="fas fa-surprise"></i> Wow
            </button>
            <button class="reaction-btn">
              <i class="fas fa-sad-tear"></i> Sad
            </button>
            <button class="reaction-btn">
              <i class="fas fa-angry"></i> Angry
            </button>
          </div>
          <div class="comments">
            <h3>Comments</h3>
            <div class="comment" *ngFor="let comment of post.comments">
              <div class="user-info">
                <img [src]="comment.profilePicture|| 'assets/images/profilepic.png'" alt="Profile picture" class="profile-pic">
                <div class="user-details">
                  <h4 class="username">{{ comment.username }}</h4>
                  <p class="comment-text">{{ comment.commentText }}</p>
                </div>
              </div>
            </div>
            <form class="comment-form" (submit)="postComment(useridd, post.PostID,$event)">
              <input type="text" placeholder="Write a comment" class="comment-input" #commentInput>
              <button type="submit" class="comment-btn">Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>