.post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 120px; /* Adjust the value as needed */
}

.post-header {
    margin-bottom: 20px;
}

.post-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    font-size: 14px;
    color: #888;
}

.post-content {
    text-align: center;
}

.post-image {
    max-width: 100%;
    height: auto;
}
