<div class="wrapper">
  <div class="container">
    <!-- Header with Search Bar and Create Study Group button -->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for study groups" aria-label="Search"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="drac-btn drac-btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
        <button class="drac-btn drac-btn-primary create-group-btn" (click)="toggleCreateForm()">Create Study Group</button>
      </div>
    </div>
<!-- Form to create a new Study Group -->
<div class="row" *ngIf="showCreateForm">
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="createStudyRoom()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newStudyRoom.title" required>
      </div>
      <div class="form-group">
        <label for="topic">Topic:</label>
        <input type="text" class="form-control" id="topic" name="topic" [(ngModel)]="newStudyRoom.topic" required>
      </div>
      <div class="form-group">
        <label for="maxNumber">Maximum Number:</label>
        <input type="number" class="form-control" id="maxNumber" name="maxNumber" [(ngModel)]="newStudyRoom.maxNumber" required>
      </div>
      <div class="form-group">
        <label for="level">Level:</label>
        <input type="text" class="form-control" id="level" name="level" [(ngModel)]="newStudyRoom.level" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="newStudyRoom.password">
      </div>
      <div class="form-check dracula-cyan-green-checkbox">
        <input type="checkbox" class="form-check-input" id="usePassword" name="usePassword" [(ngModel)]="newStudyRoom.usePassword">
        <label class="form-check-label" for="usePassword">Use Password</label>
      </div>

      <button type="submit" class="drac-btn">Create</button>
    </form>
  </div>
</div>


    <!-- Feed with Study Groups -->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div *ngFor="let group of studyGroups" class="group-box">
          <h4>{{ group.title }}</h4>
          <p><strong>Topic:</strong> {{ group.topic }}</p>
          <p><strong>Maximum Number:</strong> {{ group.maxNumber }}</p>
          <p><strong>Level:</strong> {{ group.level }}</p>
          <button class="drac-btn drac-btn-primary enter-group-btn">Enter Group</button>
        </div>
      </div>
    </div>
  </div>
</div>