body {
    color: #fff;
}

.wrapper {
    background-color: #282a36;
    height: 1500px;
    color: #fff;
}

.container {
    padding-top: 160px; /* Adjusted padding-top for better visual balance */
    margin-left: 70%;
    width: 800px;
}

.input-group {
    margin-bottom: 20px;
}

/* Style for the "Create Study Group" button */
.create-group-btn {
    margin-bottom: 20px;
}

.group-box h4 {
    margin-bottom: 10px;
    color: #bd93f9; /* Updated text color to match Dracula theme */
}

/* Apply Dracula theme styles to group boxes */
.group-box {
    border: 1px solid #44475a;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #282a36;

.enter-group-btn {
    margin-top: 10px;
}

input {
  
    background: linear-gradient(to right, #6272a4, #44475a, #282a36); /* Dracula gradient colors */
    background-size: 200% 100%; /* Increase the background size to create room for animation */
    animation: gradientAnimation 3s infinite; /* Add animated gradient background */
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0; /* Initial position */
    }
    50% {
        background-position: 0 0; /* Midway position */
    }
    100% {
        background-position: 100% 0; /* Final position */
    }
}
}

/* Apply Dracula theme styles to labels and checkboxes */
.form-check-label {
    color: #f8f8f2;
}

.form-check-input {
    background: #282a36;
    border: 1px solid #44475a;
}

/* Dracula theme button styles */
.drac-btn {
    color: #f8f8f2; /* Text color for Dracula theme buttons */
    background: linear-gradient(to right, #6272a4, #44475a, #282a36); /* Dracula gradient colors */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: filter 0.3s ease; /* Add smooth transition for hover effect */
}

.drac-btn:hover {
    filter: brightness(1.2); /* Hover effect for brightness */
}

.drac-btn-outline-secondary {
    border: 1px solid #6272a4; /* Border color for outline secondary button */
}

.drac-btn-success {
    background: linear-gradient(to right, #50fa7b, #8be9fd); /* Dracula gradient colors for success button */
}

.drac-btn-primary {
    background: linear-gradient(to right, #bd93f9, #6272a4); /* Dracula gradient colors for primary button */
}

/* Apply Dracula theme styles to form controls */
.form-control {
    color: #f8f8f2;
    background: linear-gradient(to right, #6272a4, #44475a, #282a36);
}
.dracula-cyan-green-checkbox .form-check-input:checked {
    background-color: #50fa7b; /* Dracula cyan green color when checked */
    border-color: #282a36; /* Dracula cyan green color for the border */
  }
  @media screen and (max-width: 768px) {
   .container{
    margin-top: 100px;
   }
  }
  @media screen and (min-width: 769px) and (max-width: 1080px) {
  }
  
  @media screen and (min-width: 1081px) and (max-width: 1440px) {
    
  
  }