<div class="navbar">
  <!-- Collapse button -->
  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation"   class="d-md-none">
    <div class="animated-icon3" id="myAnimatedIcon" ><span></span><span></span><span></span></div>
  </button>
   <!-- Collapsible content -->
   <div class="collapse navbar-collapse" id="navbarSupportedContent22">

    <!-- Links -->
    <app-sidenav class="app-sidenav"></app-sidenav>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
    <div class="logo">
      <!-- Your logo content goes here -->
      <img src="assets/images/epiverse.png" alt="Logo">
    </div>
    <!-- Search bar content goes here -->
    <div class="search-bar">
      <input type="text" [formControl]="searchTextControl" placeholder="Search...">
      <div *ngIf="searchResults.length > 0" class="search-results">
        <div *ngFor="let user of searchResults" class="search-result-item" (click)="navigateToUserProfile(user.UserID)">
          <img *ngIf="user.Profile_Picture" [src]="user.Profile_Picture" alt="Profile Picture" class="profile-pic">
          <div class="user-info">
            <span class="username">{{ user.Username }}</span>
            <span class="email">{{ user.Email }}</span>
          </div>
        </div>
      </div>
    </div>
    
    
    

    <div class="menu-icons">
      <!-- Menu icons go here -->
      <a (click)="navigateToFeed()">
        <i class="bi bi-house-door"></i> <!-- Home icon from Bootstrap Icons -->
      </a>
      <a (click)="navigateToChatwindow()">
        <i class="bi bi-chat-dots"></i> <!-- Chat icon from Bootstrap Icons -->
      </a>
      <a href="#">
        <i class="bi bi-bell"></i> <!-- Bell icon from Bootstrap Icons -->
      </a>
    </div>
  </div>
  