/* Import Dracula theme */
/*@import url('path/to/dracula.css'); */

/* Adjusted CSS for the provided HTML structure */
.sidenav {
  width: 250px;
  height: 100%;
  background-color: #282a36; /* Dracula background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-top: 120px;
  overflow-y: hidden;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.profile-box {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.username {
  display: block;
  font-weight: bold;
  color: #f8f8f2; /* Dracula text color */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #44475a; /* Dracula border color */
  margin-bottom: 15px;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f8f8f2; /* Dracula text color */
  text-decoration: none;
  transition: 0.3s;
}
.menu a span {
  padding-left: 10px;
}

.menu a:hover,
.menu a:active {
  color: #ff79c6; /* Dracula pink color for text on hover and click */
  background-color: #44475a; /* Dracula background color on hover, if needed */
}

/* Responsive styles */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
    margin-top: 48px;
    height: 90%;
    border-radius: 25px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .sidenav {
    width: 70px; /* Adjusted width for screens between 721px and 1080px */
  }
  .profile-box{
    display: none;
  }
  /* Optionally hide the text in menu items */
  .menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  .menu a i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .menu a span {
    display: none;
  }
  /* Optionally show only the icons in menu items */
  .menu li {
    text-align: center;
  }
  .menu {
   margin-top: 100px;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
  .sidenav {
    width: 20%;
  }

}