.container {
  background-color: #282a36; /* Dracula dark violet */
  color: #f8f8f2; /* Dracula text color */
  
  margin-top: 120px; /* Adjust the value as needed */
  padding: 20px;
}

.card {
  background-color: #282a36; /* Dracula dark violet */
  color: #f8f8f2; /* Dracula text color */
  border: 1px solid #44475a; /* Dracula grey */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  border-bottom: 1px solid #44475a; /* Dracula grey */
}

.card-title {
  color: #f8f8f2; /* Dracula text color */
}

.form-control, .form-control-file {
  background-color: #44475a; /* Dracula grey */
  color: #f8f8f2; /* Dracula text color */
  border: none;
}

.btn-primary {
  background-color: #44475a; /* Dracula green */
  border: none;
}
