<div class="text-center">
  <form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">
    <div class="form-group">
      <input type="number" id="userID" name="userID" ngModel="{{useridd}}" required hidden>
      </div>

    <div class="form-group">
      <label for="caption">Caption:</label>
      <input type="text" id="caption" name="caption" ngModel required>
    </div>

    <div class="form-group">
      <label for="imageURL">Image URL:</label>
      <input type="file" id="image" name="image" (change)="onFileSelected($event)" ngModel>
        </div>

    <button type="submit">Create Post</button>
  </form>
</div>
