<!-- app.component.html -->

<div *ngIf="isLoggedIn; else loginTemplate" >
  <!-- Displayed when the user is logged in -->
  <app-navbar></app-navbar>
    <app-sidenav (logoutClicked)="logout()"></app-sidenav>
    <!-- The main content of your application -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <app-sidebar></app-sidebar>

</div>
<!-- app.component.html -->

<ng-template #loginTemplate>
  <!-- Displayed when the user is not logged in -->
  <app-login *ngIf="isLoginRoute()" (onSubmit)="login($event)"></app-login>
  <app-register *ngIf="isRegisterRoute()"></app-register>
</ng-template>
