
.authenticated app-login,
.authenticated app-register {
  display: none;
}

.app-container {
  display: flex;
  background-color: #282a36;
}

app-sidenav {
  flex: 0 0 25%; /* Fixed width for the left Sidenav */
  position: fixed; /* Fixed position when scrolling */
  z-index: 6;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  min-width: 250px; /* Set a minimum width for the side navigation */
}

app-feed {
  flex: 1; /* Take the remaining space in the container */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
  margin-left: 25%; /* Adjust for the width of the left Sidenav */
}

app-sidebar {
  flex: 0 0 25%; /* Fixed width for the right Sidebar */
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding: 20px;
  min-width: 250px; /* Set a minimum width for the sidebar */
}

/* Responsive Styles for Smartphones */
@media screen and (min-width:320px) and (max-width: 768px) {
  app-sidenav,
  app-sidebar {
    display: none; /* Hide the sidenav and sidebar on small screens */
  }
}

@media screen and (min-width:769px) and (max-width: 1080px) {
  app-sidenav {
    display: block; /* Hide the sidenav and sidebar on small screens */
  }

}

