<!-- login.component.html -->
<div class="wrapper" *ngIf="clickedd">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow"> <!-- Added Bootstrap shadow class -->
          <div class="card-body text-center">
            <h2 class="card-title">Login</h2>
            <img src="../../assets/images/epiverse.png" alt="Login Image" class="img-fluid mb-2" style="width: 50%;">
  
            <form (ngSubmit)="submitForm()">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" required></div>
  
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
              </div>
  
              <button type="submit" class="btn btn-danger btn-block rounded-pill">Login</button> <!-- Added Bootstrap rounded-pill class -->
            </form>
  
            <p class="mt-2"> <!-- Adjusted margin-top class to mt-2 -->
              Don't have an account? <a (click)="goToRegister()" (click)="clicked()">Create one</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>