<div class="wrapper">
    <div class="container">
    <div class="row no-gutters">
        <div class="col-md-2" *ngFor="let friend of friends">
            <div class="card bg-grey text-grey mb-3 card-margin">
                <img class="card-img-top" [src]="friend.img" alt="Friend Image">
                <div class="card-body">
                    <h5 class="card-title">{{ friend.name }}</h5><p></p>                  
                    <a href="#" class="drac-btn">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
